.element__image {
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-size: cover;
}

.element__image::after {
  content: '';
  display: block;
  width: 282px;
  height: 282px;
  cursor: pointer;
}
