.profile__photo {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
  margin-right: 30px;
}

@media screen and (max-width:634px) {
.profile__photo {
  margin: 0 auto;
}
}